* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.bg-white { background-color: white;}

.logo img { width: 75px;}

ul {position: relative;}

ul li a:hover { color:rgb(51, 103, 214)!important;
                        }

                   

.nav-bar ul li:hover ::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    height: 7px;
    width: 90px;
    border-bottom: 4px solid rgb(51, 103, 214)!important;
    
}
.domande { width: 980px;
           margin:auto;
           margin-top:200px;}

.domande p {margin-top:30px;}
.domande p a {text-decoration: none;}

